/* GLOBAL */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fs-small: clamp(0.8rem, 0.7rem + 1vw, 1.2rem);
    --fs-medium: clamp(1rem, 0.9rem + 1vw, 1.4rem);
    --fs-large: clamp(1.2rem, 1rem + 1vw, 1.6rem);
    --fs-xl: clamp(2rem, 1rem + 2vw, 3rem);
    --fs-jumbo: clamp(4rem, 2rem + 10vw, 10rem);
    --color-red: #d88c9a;
    --color-yellow: #f2d0a9;
    --color-white: #f1e3d3;
    --color-green: #99c1b9;
    --color-grey: #4a4a4a;
    --color-shadow: #0003;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: var(--color-grey);
    background-color: var(--color-yellow);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button,
input {
    font: inherit;
    border: 2px solid var(--color-shadow);
    color: var(--color-grey);
    border-radius: 0.25em;
    padding: 0.25em 1em;
}

input:invalid {
    border: 2px solid var(--color-red);
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5em;
}

.content {
    font-size: var(--fs-medium);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(75ch, 100%);
}

.page-heading {
    font-size: var(--fs-xl);
    text-align: center;
}

.button {
    background-color: var(--color-white);
    border: none;
    box-shadow: 0px 0px 2px 5px var(--color-shadow);
}

.clickable {
    transform: scale(1);
    transition: 0.1s ease;
}

.clickable:hover,
.clickable:focus,
.clickable:active {
    transform: scale(1.05);
}

/* DIALOG */

.form-dialog {
    font-size: var(--fs-large);
    background-color: var(--color-white);
    color: var(--color-grey);
    border-radius: 0.5em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: clamp(500px, 50vh, 1000px);
    aspect-ratio: 1 / 1;
    padding: 1em;
}

.form {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.player-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.dialog-buttons {
    display: flex;
    gap: 1em;
    width: 100%;
}

.dialog-buttons > button {
    flex: 1;
}

/* MAIN */

.main {
    flex: 1;
    font-size: var(--fs-large);
}

.buttons-container {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

.grid-container {
    flex: 1;
    width: clamp(300px, 100%, 800px);
}

.gameboard-container {
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    margin: 0 auto;
}

.gameboard-cell {
    font-size: var(--fs-jumbo);
    background-color: var(--color-white);
    border-radius: 0.25em;
    box-shadow: 0px 0px 2px 5px var(--color-shadow);
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winning-cell {
    background-color: var(--color-green);
}
